<div class="visibility" style="margin-bottom: 0.2em;">
  <em class="info"><%= l(:text_info_comment_visibility) %></em>

  <% @selectable_roles.each do |role| %>
    <% involved = "involved" if @checked_roles.include?(role) %>
    <% disabled = "disabled" if involved.present? && @checked_roles.size == 1 %>
    <% css_classes = "#{involved} #{disabled} " %>
    <%= render "issue_comments/visibility_role", :function => role, styles: css_classes %>
  <% end %>
</div>
<%= hidden_field_tag "journal[visibility]", @checked_roles.map(&:id).join('|'), id: "journal_visibility" %>
