<% @selectable_roles, @checked_roles = get_selectable_checked_roles(@project, @journal, @issue) %>

<div class="visibility" style="margin-bottom: 0.2em;">
  <em class="info"><%= l(:text_info_comment_visibility) %></em>

  <% @selectable_roles.each do |role| %>
    <% involved = "involved" if @checked_roles.include?(role) %>
    <% disabled = "disabled" if involved.present? && @checked_roles.size == 1 %>
    <% css_classes = "#{involved} #{disabled} " %>
    <% if Redmine::Plugin.installed?(:redmine_limited_visibility) %>
      <%= render "issue_comments/visibility_role", :function => role, styles: css_classes %>
    <% end %>
  <% end %>
</div>
<%= hidden_field_tag "journal[visibility]", @checked_roles.map(&:id).join('|'), id: "journal_visibility", data: { id:  @journal.present? ? @journal.id : 0  } %>
