.icon-private-comment { background-image: url(../images/document_notes.png); margin-left:4px; margin-right:2px; }
.issue-private-note-container {
  margin:8px 0; padding:0 0 0 20px;
  background-image: url(../images/document_notes.png); background-repeat:no-repeat; background-position:-1px top;
}
.journal.has-notes.private-notes {
  margin:0; padding:6px; box-shadow:2px 2px 4px #ccc; font-size:12px;
  color:#333 !important; border:1px solid #ccc;
  /* yellow:
   * background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #fff6a0), color-stop(0.4, #fffbb0) );
   */
  background-color:#f7f7f9;
  background-image: linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -o-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -moz-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -ms-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #f7f7f9), color-stop(0.4, #f2f2f5));
}

/* hide standard redmine private notes for redmine 2.2+ */
label[for=issue_private_notes], input#issue_private_notes { display:none; }

.visibility .info { margin-top:5px; }
.visibility .comment_role { background-color:#fdd; border: 1px solid #d3d3d3; border-radius:3px; padding:2px 5px 1px 4px; margin:1px 0 2px; cursor:pointer; display:inline-block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.visibility .comment_role:hover { background-color:#ffe9e9; }
.visibility .comment_role.involved { background-color:#cfb; }
.visibility .comment_role.light-bg { background-color:#e2e2e9;margin-left: 0.5em; }
.visibility .comment_role.disabled { cursor:default; }
.visibility .comment_role.involved:hover { background-color:#d7ffc6; }
.visibility .comment_role.no-member,
.visibility .comment_role.no-member:hover { /* background-color:#dddddd; */
  opacity: 0.4; }
/* font awesome icons */
.visibility .comment_role .status-icon { width:1em; display:inline-block; }
.visibility .comment_role:not(.involved) .fa-icon-ok { display:none; }
.visibility .comment_role .fa-icon-ok { color:#080; }
.visibility .comment_role.involved .fa-icon-remove { display:none; }
.visibility .comment_role .fa-icon-remove { color:#800; }
.visibility .comment_role .fa-icon-lock { color:#080; display:none; /* hide icon when not in a form */ }
form .visibility .comment_role .fa-icon-lock { display:inline; }
.visibility .comment_role:not(.disabled) .fa-icon-lock { display:none; }
