.icon-private-comment { background-image: url(../images/document_notes.png); margin-left:4px; margin-right:2px; }
.issue-private-note-container {
  margin:8px 0; padding:0 0 0 20px;
  background-image: url(../images/document_notes.png); background-repeat:no-repeat; background-position:-1px top;
}
.journal.has-notes.private-notes {
  margin:0; padding:6px; box-shadow:2px 2px 4px #ccc; font-size:12px;
  color:#333 !important; border:1px solid #ccc;
  /* yellow:
   * background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #fff6a0), color-stop(0.4, #fffbb0) );
   */
  background-color:#f7f7f9;
  background-image: linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -o-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -moz-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -ms-linear-gradient(bottom, #f7f7f9 10%, #f2f2f5 40%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #f7f7f9), color-stop(0.4, #f2f2f5));
}
